@import "../_lib/codemirror/lib/codemirror.css";
@import "../_lib/codemirror/theme/base16-light.css";
@import "../_lib/codemirror/addon/scroll/simplescrollbars.css";

@import "../_lib/jotted/jotted.min.css";
@import "../_lib/jotted/jotted-custom.css";

@import "../_lib/jotted/theme/dark.css";
@import "../_lib/jotted/theme/syntax-light.css";
@import "../_lib/jotted/theme/syntax-dark.css";


.codepen.jotted {
    /* display: block; */
    height: 80vh;
    margin: 1rem auto;
}

.codepen:not(.jotted) {
    display: none;
}
