:root {
    --code-color-back:       hsl(204 0 0);

    --code-color-normal:     #cdd3df;
    --code-color-bright:     #ABB2BF;
    --code-color-muted:      #7F848E;

    --code-color-red:        #E06C75;
    --code-color-orange:     #D19A66;
    --code-color-yellow:     #E5C07B;
    --code-color-green:      #98C379;
    --code-color-sage:       #56c299;
    --code-color-cyan:       #56B6C2;
    --code-color-blue:       #61AFEF;
    --code-color-purple:     #C678DD;

    --code-active-line-back: #7774;
    --code-selection-back:   #7778;
    --code-matching-color:   #ff0;
    --code-matching-back:    #ff03;

    --code-high-mark:        hsla(204, 80%, 57%, 1.0);
    --code-high-back:        hsla(204, 80%, 57%, 0.2);

    --code-indent1:          hsla(204, 40%, 57%, 0.6);
    --code-indent1-light:    hsla(204, 40%, 57%, 0.2);
    --code-indent2:          hsla(140, 40%, 57%, 0.6);
    --code-indent2-light:    hsla(140, 40%, 57%, 0.2);
    --code-indent3:          hsla(76,  40%, 57%, 0.6);
    --code-indent3-light:    hsla(76,  40%, 57%, 0.2);
    --code-indent4:          hsla(12,  40%, 57%, 0.6);
    --code-indent4-light:    hsla(12,  40%, 57%, 0.2);

    --code-border-color:            var(--md-box-border-color);

    --code-control-color:           var(--md-default-fg-color--light);
    --code-control-color--high:     var(--md-default-fg-color);
    --code-control-back-color:      var(--md-box-back-color);
    --code-control-info-color:      var(--md-default-fg-color--lighter);

    --md-code-font-family:          'JetBrains Mono', monospace;

    --md-code-fg-color:             var(--code-color-normal);
    --md-code-bg-color:             var(--code-color-back);

    --md-code-hl-number-color:      var(--code-color-orange);
    --md-code-hl-special-color:     var(--code-color-sage);
    --md-code-hl-function-color:    var(--code-color-blue);
    --md-code-hl-constant-color:    var(--code-color-yellow);
    --md-code-hl-keyword-color:     var(--code-color-purple);
    --md-code-hl-string-color:      var(--code-color-green);
    --md-code-hl-name-color:        var(--code-color-red);
    --md-code-hl-operator-color:    var(--code-color-cyan);
    --md-code-hl-punctuation-color: var(--code-color-bright);
    --md-code-hl-comment-color:     var(--code-color-muted);
    --md-code-hl-generic-color:     var(--code-color-bright);
    --md-code-hl-variable-color:    var(--code-color-bright);

    --md-code-hl-color:             var(--code-high-mark);
    --md-code-hl-color--light:      var(--code-high-back);

    --md-code-indent1-color:        var(--code-indent1);
    --md-code-indent1-color--light: var(--code-indent1-light);
    --md-code-indent2-color:        var(--code-indent2);
    --md-code-indent2-color--light: var(--code-indent2-light);
    --md-code-indent3-color:        var(--code-indent3);
    --md-code-indent3-color--light: var(--code-indent3-light);
    --md-code-indent4-color:        var(--code-indent4);
    --md-code-indent4-color--light: var(--code-indent4-light);
}


/****************************************************************************/

.content pre,
.content code {
    font-size: 1em;
    word-break: normal;
    line-height: 1.3;
}

.content :not(pre) > code,
.highlight {
    margin: 1.3em 0;
    border: 1px solid var(--code-border-color);
}

.content :not(pre) > code {
    border-radius: 0.3em;
}

.content pre {
    margin: 0;
}

.content code {
    border-radius: 0;
    padding: 0.1em 0.3em 0.2em;
}

.content span.filename {
    margin: 0;
}

































/* Indent highlighting -------------------------------------------*/

.highlight.show-indent .w,
.highlight.show-indent .whitespace {
        background-image: linear-gradient(
        to right,

        var(--md-code-indent1-color--light) 0,
        var(--md-code-indent1-color--light) calc(4ch - 5px),
        var(--md-code-indent1-color)        calc(4ch - 5px),
        var(--md-code-indent1-color)        calc(4ch - 3px),
        transparent                         calc(4ch - 3px),
        transparent                         4ch,

        var(--md-code-indent2-color--light) 4ch,
        var(--md-code-indent2-color--light) calc(8ch - 5px),
        var(--md-code-indent2-color)        calc(8ch - 5px),
        var(--md-code-indent2-color)        calc(8ch - 3px),
        transparent                         calc(8ch - 3px),
        transparent                         8ch,

        var(--md-code-indent3-color--light) 4ch,
        var(--md-code-indent3-color--light) calc(12ch - 5px),
        var(--md-code-indent3-color)        calc(12ch - 5px),
        var(--md-code-indent3-color)        calc(12ch - 3px),
        transparent                         calc(12ch - 3px),
        transparent                         12ch,

        var(--md-code-indent4-color--light) 4ch,
        var(--md-code-indent4-color--light) calc(16ch - 5px),
        var(--md-code-indent4-color)        calc(16ch - 5px),
        var(--md-code-indent4-color)        calc(16ch - 3px),
        transparent                         calc(16ch - 3px),
        transparent                         16ch,

        transparent 100%
    );
}


/* Tweaks so editor and code match --------------------------------------- */

.highlight .k  { color: var(--code-color-normal); }
.highlight .kc { color: var(--code-color-orange); }
.highlight .kt { color: var(--code-color-orange); }
.highlight .n  { color: var(--code-color-normal); }
.highlight .nt { color: var(--code-color-red); }
.highlight .nb { color: var(--code-color-cyan); }
.highlight .nf { color: var(--code-color-blue); }
.highlight .nn { color: var(--code-color-blue); }
.highlight .nc { color: var(--code-color-orange); }
.highlight .nv { color: var(--code-color-red); }
.highlight .nx { color: var(--code-color-normal); }
.highlight .mh { color: var(--code-color-cyan); }
.highlight .ow { color: var(--code-color-purple); }


/* Specific tweaks for HTML/CSS/JS --------------------------------------- */

.highlight .p:has( + .nn) { color: var(--code-color-blue); }
.highlight .p:has( + .nc) { color: var(--code-color-orange); }

.highlight .p + .k        { color: var(--code-color-purple); }
/* .highlight .p:has( + .k)  { color: var(--code-color-purple); } */

.highlight .k  + .w + .nt { color: var(--code-color-orange); }
.highlight .kd + .w + .nx { color: var(--code-color-orange); }

.language-js.highlight .nx { color: var(--code-color-red); }

.language-html pre > code {
    white-space: break-spaces;  /* Allow text wrapping */
}


/* Specific tweaks for SQL ----------------------------------------------- */

.language-sql.highlight .k       { color: var(--code-color-purple); }
/* .language-sql.highlight .p + .k  { color: var(--code-color-normal); } */



