.lucide.icon,
i.si::before {
    display: inline-block;
    vertical-align: middle;
    color: currentColor;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2;
}

.si::before {
    text-align: center;
}

.si {
    display: flex;
    align-items: center;
}