.lucide.icon,
i.si::before {
    display: inline-block;
    vertical-align: middle;
    color: var(--theme-color);
    width: 1.2em;
    height: 1.2em;
    line-height: 1;
}

:is(:is(:is(.app-nav-merged,.sidebar-nav) li) a):has(img,svg,i.si) {
    align-items: center;
    display: flex;
    gap: 0.6em;
}