.mermaid {
    --mermaid-font-family:              var(--font-family);
    --mermaid-font-size:                16px;
    --mermaid-line-height:              1.2;

    --mermaid-node-back-color:          #4fc3f7;
    --mermaid-node-border-color:        #0288d1;
    --mermaid-terminator-back-color:    #ff8a65;
    --mermaid-terminator-border-color:  #e64a19;
    --mermaid-decision-back-color:      #aed581;
    --mermaid-decision-border-color:    #689f38;
    --mermaid-join-back-color:          #fff176;
    --mermaid-join-border-color:        #fdd835;
    --mermaid-in-out-back-color:        #d483e2;
    --mermaid-in-out-border-color:      #9740bc;
    --mermaid-data-back-color:          #df7cc1;
    --mermaid-data-border-color:        #ca2799;

    --mermaid-node-text-color:          #000;

    --mermaid-line-color:               var(--color-mono-8);
    --mermaid-label-text-color:         var(--color-text);
    --mermaid-label-back-color:         var(--color-bg);

    --mermaid-tone-color--light:        #eee;
    --mermaid-tone-color--dark:         #111;

    --mermaid-line-width--normal:       2;
    --mermaid-line-width--thick:        3;
}

.mermaid,
.mermaid svg {
    font-family: var(--mermaid-font-family) !important;
    font-size: var(--mermaid-font-size) !important;
    line-height: var(--mermaid-line-height) !important;
}

/*** ERROR ***************************************************/

.mermaid .error-icon {
    fill: var(--mermaid-tone-color--light);
}

.mermaid .error-text {
    fill: var(--mermaid-tone-color--dark);
    stroke: var(--mermaid-tone-color--dark);
}


.mermaid .marker {
    fill: var(--node-back);
    stroke: var(--node-back);
}

.mermaid .marker.cross {
    stroke: var(--node-back);
}

/*** BLOCKS ***************************************************/

.mermaid .node rect,
.mermaid .node circle,
.mermaid .node ellipse,
.mermaid .node polygon,
.mermaid .node path {
    fill: var(--mermaid-node-back-color) !important;
    stroke: var(--mermaid-node-border-color) !important;
    stroke-width: var(--mermaid-line-width--thick) !important;
}

/* Plain rectangles */
.mermaid .node rect:not([rx]) {
    fill: var(--mermaid-node-back-color) !important;
    stroke: var(--mermaid-node-border-color) !important;
}

/* Rounded rectangles */
.mermaid .node rect[rx] {
    fill: var(--mermaid-terminator-back-color) !important;
    stroke: var(--mermaid-terminator-border-color) !important;
}

/* Questions */
.mermaid .node polygon {
    fill: var(--mermaid-decision-back-color) !important;
    stroke: var(--mermaid-decision-border-color) !important;
}

/* IO */
.mermaid .node.in-out polygon {
    fill: var(--mermaid-in-out-back-color) !important;
    stroke: var(--mermaid-in-out-border-color) !important;
}

/* Circles */
.mermaid .node circle {
    fill: var(--mermaid-md-default-bg-color) !important;
    stroke: var(--mermaid-join-border-color) !important;
}

.mermaid .node circle:last-of-type {
    fill: var(--mermaid-join-back-color) !important;
}

/* Database */
.mermaid .node path {
    fill: var(--mermaid-data-back-color) !important;
    stroke: var(--mermaid-data-border-color) !important;
}

/* Invisible start node for FSA */
.mermaid .node.start {
    display: none;
}

/* Labels */
.mermaid .node .label {
    text-align: center;
}

.mermaid .label {
    font-family: var(--mermaid-font-family);
}

.mermaid .label text,
.mermaid span {
    fill: var(--mermaid-node-text-color) !important;
    color: var(--mermaid-node-text-color) !important;
}
.mermaid .node .label div {
    padding-top: 0.1em;
}

/*** LINES ***************************************************/

.mermaid .edgePath .path {
    stroke: var(--mermaid-line-color) !important;
    stroke-width: var(--mermaid-line-width--thick) !important;
}

.mermaid .arrowheadPath {
    fill: var(--mermaid-line-color) !important;
}

.mermaid .edge-thickness-normal { stroke-width: var(--mermaid-line-width--normal); }
.mermaid .edge-thickness-thick  { stroke-width: var(--mermaid-line-width--thick); }

.mermaid .edge-pattern-solid  { stroke-dasharray: 0; }
.mermaid .edge-pattern-dashed { stroke-dasharray: 3; }
.mermaid .edge-pattern-dotted { stroke-dasharray: 2; }


/*** LINE ENDS ***************************************************/

.mermaid .marker {
    fill: var(--mermaid-line-color) !important;
    stroke: var(--mermaid-line-color) !important;
    scale: 1.5 !important;
}

.mermaid .marker path {
    stroke-width: var(--mermaid-line-width--normal) !important;
}

.mermaid .marker.cross {
    stroke: var(--mermaid-node-back-color) !important;
}


/*** LINES ***************************************************/

.mermaid .flowchart-link {
    stroke: var(--mermaid-line-color) !important;
    stroke-width: var(--mermaid-line-width--normal) !important;
    fill: none;
}

.mermaid .node.clickable {
    cursor:pointer;
}

.mermaid #flowchart-pointEnd {
    stroke: var(--mermaid-line-color) !important;
}


/*** LINE LABELS ***************************************************/

.mermaid .edgeLabel {
    display: block;
    text-align: center;
    background-color: var(--mermaid-label-back-color) !important;
    color: var(--mermaid-label-text-color) !important;
    border-radius: 0.5em;
    padding: 0 0.5em 0 0.1em;
}

.mermaid .labelBkg,
.mermaid .edgeLabel p {
    background-color: transparent !important;
}


/*** GROUPS ***************************************************/

.mermaid .cluster rect {
    fill: var(--mermaid-tone-color--light);
    stroke: var(--mermaid-tone-color--light);
    stroke-width: var(--mermaid-line-width--normal);
}

.mermaid .cluster-label text {
    fill: var(--mermaid-tone-color--dark);
}

.mermaid .cluster-label span {
    color: var(--mermaid-tone-color--dark);
}

.mermaid .cluster text {
    fill: var(--mermaid-tone-color--dark);
}

.mermaid .cluster span {
    color: var(--mermaid-tone-color--dark);
}


/*** MISC ***************************************************/

.mermaid div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 12em;
    padding: 0.25em;
    font-family: var(--mermaid-font-family);
    font-size: 0.8em;
    background: var(--mermaid-tone-color--light);
    border: 1px solid undefined;
    border-radius: 0.25em;
    pointer-events: none;
    z-index: 100;
}

.mermaid :root {
    --mermaid-font-family: var(--mermaid-font-family);
}

