:root{
    /* Document */
    --docsify-example-panels-document-width: 90%;

    /* Wrapper */
    --docsify-example-panels-wrapper-width: 100%;

    /* Standards */
    --docsify-example-panels-gap: 2em;
    --docsify-example-panels-padding-inner : 1em;
    --docsify-example-panels-padding-surroundings : 1rem;

    /* Panel Left */
    --docsify-example-panels-left-panel-background : transparent;
    --docsify-example-panels-left-panel-width : 60%;

    /* Panel Right */
    --docsify-example-panels-right-panel-background : hsl(201, 18%, 21%);
    --docsify-example-panels-right-panel-width : 40%;

    /* Titles */
    --docsify-example-panels-title-background: transparent;
}

.docsify-example-panel.title-panel {
    margin: var(--docsify-example-panels-padding-surroundings) 0 var(--docsify-example-panels-padding-inner);
    padding: 0;
}

.docsify-example-panel.left-panel {
    padding: 0 var(--docsify-example-panels-gap) 0 0;
    /* margin-bottom: var(--docsify-example-panels-padding-surroundings); */
}

.docsify-example-panel.right-panel {
    border: 1px solid hsl(201, 18%, 35%);
    border-radius: 2px;
    padding-right: var(--docsify-example-panels-padding-inner);
    /* margin-bottom: var(--docsify-example-panels-padding-surroundings); */
}

.docsify-example-panels > .docsify-example-panel > :first-child {
    margin-top: 0;
}

.docsify-example-panels > .docsify-example-panel > :last-child {
    margin-bottom: 0;
}

