html {
    scroll-behavior: smooth;
}

:root {
    --base-color: #eee;

    --theme-hue: 204;
    --theme-saturation: 91%;
    --theme-lightness: 69%;
    --theme-lightness-light: 70%;
    --theme-lightness-dark: 40%;

    --accent-hue: 39;
    --accent-saturation: 77%;
    --accent-lightness: 77%;
    --accent-lightness-light: 80%;
    --accent-lightness-dark: 50%;

    --theme-color: hsl(var(--theme-hue), var(--theme-saturation), var(--theme-lightness));
    --theme-color-light: hsl(var(--theme-hue), var(--theme-saturation), var(--theme-lightness-light));
    --theme-color-dark: hsl(var(--theme-hue), var(--theme-saturation), var(--theme-lightness-dark));

    --accent-color: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness));
    --accent-color-light: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness-light));
    --accent-color-dark: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness-dark));

    --mono-shade4: hsl(var(--mono-hue), var(--mono-saturation), 10%);
    --mono-shade5: hsl(var(--mono-hue), var(--mono-saturation), 5%);
    --mono-tint4:  hsl(var(--mono-hue), var(--mono-saturation), 67%);

    --base-font-size: 18px;

    --content-max-width: 60em;

    --cover-button-primary-background: var(--theme-color-dark);
    --cover-button-primary-background--hover: var(--theme-color);

    --strong-color: var(--accent-color);
    /* --strong-font-weight: normal; */
    --em-color: var(--accent-color-light);

    --heading-h2-color: var(--accent-color-light);
    --heading-h2-padding: 1rem 0 0 0;
    --heading-h2-border-width: 1px 0 0 0;

    --link-color: var(--theme-color);
    --link-color--hover: var(--theme-color-light);

    --code-block-padding: 1em;
    --code-block-line-height: 1.2;

    --kbd-color: var(--theme-color);
    --kbd-background: var(--mono-shade4);
    --kbd-shadow-color: var(--mono-shade5);
    --kbd-padding: 0.5em 0.4em;

    --button-primary-color: #fff;
    --button-primary-background: var(--theme-color-dark);
    --button-primary-background--hover: var(--theme-color);
    --button-padding: 0.3em 1rem;
    --button-border: 1px solid var(--theme-color);
    --button-border-radius: var(--border-radius-m);

    --notice-tip-border-color: var(--theme-color);

    --sidebar-width: 18rem;
    --sidebar-nav-section-color: var(--accent-color-light);
    --sidebar-nav-pagelink-padding: 0;
    --sidebar-nav-link-color--hover: var(--link-color--hover);
    --sidebar-nav-link-color--active: var(--theme-color-light);

    --table-cell-padding: 0.4em 1em;
    --table-head-font-weight: normal;
    --table-row-even-background: var(--mono-shade2);
    --table-row-odd-background: var(--mono-shade3);
    --table-cell-border-color: var(--mono-shade4);
}


/* HEADINGS ----------------------------------------- */

.anchor {
    display: none;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
    line-height: 1.2;
    text-wrap: balance;
}


/* TEXT ----------------------------------------- */

em {
    color: var(--em-color);
}


/* BUTTONS ----------------------------------------- */

/* button {
    color: var(--button-primary-color);
    background-color: var(--button-primary-background);
    border: var(--button-border);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
}

button:hover {
    background-color: var(--button-primary-background--hover);
} */


/* KBD ----------------------------------------- */

.markdown-section kbd {
    /* border: 2px solid var(--kbd-shadow-color); */
    box-shadow: 0 0.2em 0 0.1em var(--kbd-shadow-color);
}

.markdown-section kbd + kbd {
    margin-left: 0.3em;
}


/* IMAGES ----------------------------------------- */

.markdown-section img,
.markdown-section figure {
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

img[src*="macintosh"] {
    max-height: 10rem;
}


/* SIDE ICON/NAME ----------------------------------------- */

.sidebar .app-name-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.sidebar .app-name-link::after {
    content: 'DT Notes';
    display: block;
    font-size: 2.2rem;
    line-height: 1;
    font-weight: bold;
    text-align: left;
    /* width: 50%; */
}

.sidebar .app-name-link img {
    max-height: 3rem;
}


/* SIDE NAV ----------------------------------------- */

.sidebar-nav>ul>li {
    margin: 0 0 1rem 0;
}

.sidebar-nav>ul>li>p,
.sidebar-nav>ul>li>p>a,
.sidebar-nav>ul>li>a {
    color: var(--sidebar-nav-section-color);
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

ul.app-sub-sidebar {
    line-height: 1.3;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    padding-left: 0.8rem;
    color: var(--mono-tint3);
    list-style: square;
}

ul.app-sub-sidebar a {
    color: var(--mono-tint4);
}


