:root {
    /* Color */
    --color-bg:        #1f2428;
    --color-text:      #eee;

    --theme-color:     #68bef8;
    --secondary-color: #f2d297;

    --secondary-color-1: color-mix(in srgb, var(--secondary-color), var(--color-mono-min) 90%);
    --secondary-color-2: color-mix(in srgb, var(--secondary-color), var(--color-mono-min) 75%);
    --secondary-color-3: color-mix(in srgb, var(--secondary-color), var(--color-mono-min) 55%);
    --secondary-color-4: color-mix(in srgb, var(--secondary-color), var(--color-mono-min) 30%);
    --secondary-color-5: color-mix(in srgb, var(--secondary-color), var(--color-mono-max) 30%);
    --secondary-color-6: color-mix(in srgb, var(--secondary-color), var(--color-mono-max) 55%);
    --secondary-color-7: color-mix(in srgb, var(--secondary-color), var(--color-mono-max) 75%);
    --secondary-color-8: color-mix(in srgb, var(--secondary-color), var(--color-mono-max) 90%);


    /* Typography */
    --font-family:                    system-ui, sans-serif;
    --font-family-mono:               'JetBrains Mono', ui-monospace, Consolas, monospace;
    --font-size:                      18px;
    --font-size-mono:                 1rem;
    --line-height:                    1.5;

    /* Common */
    --border-color:                   var(--color-mono-2);
    --border-radius:                  5px;
    --margin-block:                   1.5rem;

    /* Content */
    --content-max-width:              80ch;
    --content-margin-inline:          4%;
    --content-margin-block:           45px;

    /* Cover */
    --cover-bg-overlay:               #1f2428;
    --cover-title-color:              var(--strong-color);

    /* Elements */
    --button-bg:                      var(--theme-color-3);
    --button-border-radius:           100vh;

    --kbd-bg:                         var(--color-mono-2);
    --kbd-color:                      var(--color-mono-8);

    --mark-bg:                        #fde047;
    --mark-color:                     var(--color-bg);

    --em-color:                       var(--secondary-color-6);
    --strong-color:                   var(--secondary-color-6);
    --strong-font-weight:             600;

    --table-row-alt-bg:               var(--color-mono-1);

    /* Sidebar */
    --sidebar-width:                  320px;

    --sidebar-bg:                     var(--color-bg);
    --sidebar-border-color:           var(--border-color);

    --sidebar-link-spacing:           0.15em;
    --sidebar-group-spacing:          1rem;
    --sidebar-group-border:           1px solid var(--sidebar-border-color);

    --sidebar-sub-link-color:         var(--secondary-color-6);
    --sidebar-sub-link-color-active:  var(--theme-color);

    --callout-attention-color:        #e64848;
    --callout-warning-color:          #e2da47;
    --callout-important-color:        #85dd47;
    --callout-note-color:             var(--secondary-color);
    --callout-tip-color:              var(--theme-color);

    --callout-attention-border-color: color-mix(in srgb, var(--callout-attention-color), var(--color-mono-min) 50%);
    --callout-warning-border-color:   color-mix(in srgb, var(--callout-warning-color),   var(--color-mono-min) 50%);
    --callout-important-border-color: color-mix(in srgb, var(--callout-important-color), var(--color-mono-min) 50%);
    --callout-note-border-color:      color-mix(in srgb, var(--callout-note-color),      var(--color-mono-min) 50%);
    --callout-tip-border-color:       color-mix(in srgb, var(--callout-tip-color),       var(--color-mono-min) 50%);

    --callout-charm-color:            var(--color-mono-1);

    --callout-padding: 1em 1em 1em calc(1.7rem + var(--callout-charm-size));

    color-scheme: dark;
}


/* Sidebar Nav */
/* ========================================================================== */

:is(.sidebar a[href]):hover {
    color: var(--sidebar-link-color-active);
}

/* Groups */

:is(:is(.app-nav-merged, .sidebar-nav) > ul) > li {
    padding-bottom: var(--sidebar-group-spacing);
}

.group:is(:is(:is(.app-nav-merged, .sidebar-nav) > ul) > li) {
    padding-top: calc(0.25 * var(--sidebar-group-spacing));
    padding-bottom: var(--sidebar-group-spacing);
}

/* Group Headings */

:is(:is(.app-nav-merged, .sidebar-nav) li) > p {
    font-size: 1.1em;
    color: var(--secondary-color);
}

/* Section Sub-Links */

:is(:is(.app-nav-merged, .sidebar-nav) > ul) ul.app-sub-sidebar {
    padding-left: calc(var(--_sidebar-list-inset) * 3.5);
    font-size: var(--font-size-s);
    line-height: 1.1;
}

:is(:is(.app-nav-merged, .sidebar-nav) > ul) ul.app-sub-sidebar a {
    color: var(--sidebar-sub-link-color);
}

:is(:is(.app-nav-merged, .sidebar-nav) > ul) ul.app-sub-sidebar li.active a,
:is(:is(.app-nav-merged, .sidebar-nav) > ul) ul.app-sub-sidebar a:hover {
    color: var(--sidebar-sub-link-color-active);
}


/* Markdown Section */
/* ========================================================================== */

.markdown-section {
    margin: var(--content-margin-block) auto 0 auto;
}


/* Headings */
/* ========================================================================== */

.markdown-section:where(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
}

.markdown-section:where(h2, h4, h6) {
    color: var(--secondary-color);
}

.markdown-section:where(h3, h5) {
    color: var(--theme-color-5);
}


/* Text */
/* ========================================================================== */

em {
    color: var(--em-color);
}


/* Images */
/* ========================================================================== */

.markdown-section img,
.markdown-section figure {
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

img[src*="macintosh"] {
    max-height: 10rem;
}


/* Callouts */
/* ========================================================================== */

.callout {
    --callout-bg:           #fff;

    &.attention {
        --callout-border-color: var(--callout-attention-border-color);
        --callout-charm-bg:     var(--callout-attention-color) center no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="13" height="13" fill="currentColor"><path d="M10 14C10 15.1 9.1 16 8 16 6.9 16 6 15.1 6 14 6 12.9 6.9 12 8 12 9.1 12 10 12.9 10 14Z"/><path d="M10 1.6C10 1.2 9.8 0.9 9.6 0.7 9.2 0.3 8.6 0 8 0 7.4 0 6.8 0.2 6.5 0.6 6.2 0.9 6 1.2 6 1.6 6 1.7 6 1.8 6 1.9L6.8 9.6C6.9 9.9 7 10.1 7.2 10.2 7.4 10.4 7.7 10.5 8 10.5 8.3 10.5 8.6 10.4 8.8 10.3 9 10.1 9.1 9.9 9.2 9.6L10 1.9C10 1.8 10 1.7 10 1.6Z"/></svg>');
    }

    &.important {
        --callout-border-color: var(--callout-important-border-color);
        --callout-charm-bg:     var(--callout-important-color) center no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z"></path></svg>');
    }

    &.note {
        --callout-border-color: var(--callout-note-border-color);
        --callout-charm-bg:     var(--callout-note-color) center no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" fill="currentColor"><path d="M9.1 0C10.2 0 10.7 0.7 10.7 1.6 10.7 2.6 9.8 3.6 8.6 3.6 7.6 3.6 7 3 7 2 7 1.1 7.7 0 9.1 0Z"/><path d="M5.8 16C5 16 4.4 15.5 5 13.2L5.9 9.1C6.1 8.5 6.1 8.2 5.9 8.2 5.7 8.2 4.6 8.6 3.9 9.1L3.5 8.4C5.6 6.6 7.9 5.6 8.9 5.6 9.8 5.6 9.9 6.6 9.5 8.2L8.4 12.5C8.2 13.2 8.3 13.5 8.5 13.5 8.7 13.5 9.6 13.2 10.4 12.5L10.9 13.2C8.9 15.2 6.7 16 5.8 16Z"/></svg>');
    }

    &.tip {
        --callout-border-color: var(--callout-tip-border-color);
        --callout-charm-bg:     var(--callout-tip-color) center no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14" fill="currentColor"><path d="M8 1.5c-2.363 0-4 1.69-4 3.75 0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a8.456 8.456 0 0 0-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25 2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259-.095.115-.184.22-.268.319-.207.245-.383.453-.541.681-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489.203-.292.45-.584.673-.848.075-.088.147-.173.213-.253.561-.679.985-1.32.985-2.304 0-2.06-1.637-3.75-4-3.75ZM5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5ZM6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Z"></path></svg>');
    }

    &.warning {
        --callout-border-color: var(--callout-warning-border-color);
        --callout-charm-bg:     var(--callout-warning-color) center no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="13" height="13" fill="currentColor"><path d="M10 14C10 15.1 9.1 16 8 16 6.9 16 6 15.1 6 14 6 12.9 6.9 12 8 12 9.1 12 10 12.9 10 14Z"/><path d="M10 1.6C10 1.2 9.8 0.9 9.6 0.7 9.2 0.3 8.6 0 8 0 7.4 0 6.8 0.2 6.5 0.6 6.2 0.9 6 1.2 6 1.6 6 1.7 6 1.8 6 1.9L6.8 9.6C6.9 9.9 7 10.1 7.2 10.2 7.4 10.4 7.7 10.5 8 10.5 8.3 10.5 8.6 10.4 8.8 10.3 9 10.1 9.1 9.9 9.2 9.6L10 1.9C10 1.8 10 1.7 10 1.6Z"/></svg>');
    }
}

[class]:is(.markdown-section .callout)    { --callout-bg: unset; }
.attention:is(.markdown-section .callout) { --callout-border-color: var(--callout-attention-border-color); }
.important:is(.markdown-section .callout) { --callout-border-color: var(--callout-important-border-color); }
.note:is(.markdown-section .callout)      { --callout-border-color: var(--callout-note-border-color); }
.tip:is(.markdown-section .callout)       { --callout-border-color: var(--callout-tip-border-color); }
.warning:is(.markdown-section .callout)   { --callout-border-color: var(--callout-warning-border-color); }

:is(.markdown-section .callout) code,
:is(.markdown-section .callout) pre:where([data-lang]) {
    background: var(--color-mono-min);
}



/* Cover */
/* ========================================================================== */
.cover-main a.button.secondary {
    color: var(--color-text);
    border-color: rgba(255, 255, 255, 0.5);
}


/* Markdown */
/* ========================================================================== */

/* Force light mode for iframes in dark theme */
iframe,
iframe *,
iframe[src],
iframe[src] * {
  color-scheme: light;
}


