/** Sidebar Navigation
 * Layout, branding, and navigation structure
 */

:root {
    --sidebar-width:                  400px;
}

/* Fix mobile toggle button sizing */
.sidebar-toggle {
    .sidebar-toggle-button {
        opacity: 0.2;
        transition: opacity 250ms;

        &[aria-expanded="false"] {
            opacity: 1;
        }
    }

    &:hover {
        .sidebar-toggle-button[aria-expanded="true"] {
            opacity: 1;
        }
    }

    @media screen and not (any-hover) {
        & {
            width: var(--sidebar-toggle-width);

            .sidebar-toggle-button {
                width: calc(var(--sidebar-toggle-width) * 0.5);
            }
        }
    }
}


:is(.sidebar) {
    --sidebar-bg:                           var(--color-mono-1);
    --sidebar-border-color:                 var(--border-color);

    --sidebar-group-color:                  var(--secondary-color);
    --sidebar-group-border-color:           var(--color-mono-4);

    --sidebar-link-color:                   var(--color-mono-7);
    --sidebar-link-color-hover:             var(--color-text);
    --sidebar-link-color-hover-bg:          var(--color-mono-0);
    --sidebar-link-color-active:            var(--color-text);
    --sidebar-link-color-active-bg:         var(--color-mono-0);

    --sidebar-sub-link-color:               var(--color-mono-7);
    --sidebar-sub-link-color-hover:         var(--color-text);
    --sidebar-sub-link-color-active:        var(--secondary-color-5);
    --sidebar-sub-link-color-muted:         var(--color-mono-5);
    --sidebar-sub-sub-link-color:           var(--theme-color-7);

    --sidebar-group-spacing:                var(--gap-med);
    --sidebar-group-indent:                 var(--gap);

    --sidebar-link-spacing:                 0;
    --sidebar-link-padding-block:           var(--padding-micro);
    --sidebar-link-padding-block-active:    var(--padding-small);
    --sidebar-link-padding-inline:          var(--padding-med);

    --sidebar-sub-link-indent:              var(--gap-large);

    --plugin-search-input-bg:               var(--color-bg) !important;
    --plugin-search-kbd-bg:                 var(--color-mono-1) !important;

    /* Flexbox layout */
    display: flex;
    flex-direction: column;
    gap: var(--gap-med);

    /* Section ordering */
    .app-name {
        order: 1;
        margin: var(--space-large) var(--space) 0;
    }

    .search {
        order: 2;
    }

    .sidebar-nav {
        order: 3;
    }


    /* Branding */
    a.app-name-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap);

        img {
            max-height: 5rem;
        }

        &::after {
            content: "Digital Tech. @ Waimea College";
            font-size: var(--font-size-xl);
            text-align: left;
            font-weight: 300;
        }
    }

    /* Navigation links */
    a[href] {
        text-decoration: none;
        transition: all 150ms;

        &:hover {
            color: var(--sidebar-link-color-hover);
            text-decoration: none;
        }

        em {
            color: var(--sidebar-sub-link-color-muted);
        }
    }

    /* Gaps */
    hr {
        margin-block: var(--gap-small);
    }
}

/* Navigation groups and icons */
:is(.app-nav-merged, .sidebar-nav) {

    /* ------------------------------------------------------- */
    /* Overall menu spacing */
    margin-right: var(--_sidebar-list-inset);

    > ul:last-child {
        margin-bottom: calc(2 * var(--margin-block));
    }

    > ul > li {
        margin-left: var(--gap-small);
    }

    > ul ul li {
        margin-left: var(--sidebar-group-indent);

        &:not(:has(a)) {
            padding-left: calc(var(--sidebar-link-padding-inline) + 0.1rem);
            font-size: var(--font-med);
            color: var(--sidebar-sub-link-color-muted);
        }
    }

    > ul ul ul ul li {
        margin-left: 0;
    }

    > ul ul {
        padding-left: 0;
    }

    /* ------------------------------------------------------- */
    /* Current page */
    li[aria-current] {
        background-color: var(--sidebar-link-color-active-bg);
        border-radius: var(--border-radius);
        padding: var(--sidebar-link-padding-block-active) var(--sidebar-link-padding-inline);
        margin-block: var(--gap-tiny);
        font-weight: 500;
        font-size: var(--font-large);

        a[href] {
           padding-inline: 0;
        }
    }

    /* ------------------------------------------------------- */
    /* All main links */
    ul:not(.app-sub-sidebar) > li:not([aria-current]) > p > a[href],
    ul:not(.app-sub-sidebar) > li:not([aria-current]) > a[href] {
        padding: var(--sidebar-link-padding-block) var(--sidebar-link-padding-inline);
        /* font-size: var(--font-large); */
        color: inherit;

        &:hover {
            padding-block: var(--sidebar-link-padding-block-active);
            background-color: var(--sidebar-link-color-hover-bg);
            text-decoration: none;
            color: inherit;
        }
    }

    /* ------------------------------------------------------- */
    /* Home page */
    > ul > li > a[href$="/"] {
        /* color: var(--sidebar-group-color); */
    }

    /* ------------------------------------------------------- */
    /* Group spacing */
    > ul > li.group,
    > ul > li:has(> p > a) > ul {
        margin-block: 0;
        padding-block: 0;
        padding-left: calc(var(--sidebar-link-padding-inline) - 0.1rem);
    }

    /* Groups vert bars */
    > ul > li.group,
    > ul > li:has(> p > a) {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 2rem;
            left: 1.25rem;
            bottom: 0.2rem;
            border-left: 1px solid var(--sidebar-group-border-color);
        }
    }

    /* Top-level groups and top-level links */
    > ul > li.group,
    > ul > li:has(> p > a) {
        margin-block: 0;
        padding-block: 0;
        border: none;
        font-size: var(--font-large);
        margin-bottom: var(--gap-tiny);

        &:not(:last-of-type) {
            padding-bottom: var(--sidebar-group-spacing);
        }

        &:last-child {
            border: none;
        }

        > ul {
            font-size: var(--font-size);
        }
    }

    /* Top-level groups */
    > h4 {
        display: none;
    }

    > h4 + ul > li.group,
    > h4 + ul > li:has(> a),
    > h4 + ul > li:has(> p > a) {
        color: inherit;

        &:nth-child(1) { color: var(--palette-color-1-light); }
        &:nth-child(2) { color: var(--palette-color-2-light); }
        &:nth-child(3) { color: var(--palette-color-3-light); }
        &:nth-child(4) { color: var(--palette-color-4-light); }
        &:nth-child(5) { color: var(--palette-color-5-light); }
        &:nth-child(6) { color: var(--palette-color-6-light); }
        &:nth-child(7) { color: var(--palette-color-7-light); }
        &:nth-child(8) { color: var(--palette-color-8-light); }
        &:nth-child(9) { color: var(--palette-color-9-light); }

        > p > a {
            color: inherit;
        }
    }

    /* ------------------------------------------------------- */
    /* Sub-links within page */
    > ul ul.app-sub-sidebar {
        padding-left: var(--sidebar-sub-link-indent);
        font-size: var(--font-size-s);
        line-height: 1.2;
        list-style: square;
        margin-top: var(--gap-tiny);
        margin-bottom: var(--gap-small);
        color: var(--sidebar-sub-link-color);

        a {
            color: var(--sidebar-sub-link-color);
            padding-block: var(--padding-micro);
            font-weight: normal;

            &:hover {
                color: var(--sidebar-sub-link-color-hover);
                text-decoration-color: var(--sidebar-sub-link-color-hover);
            }
        }

        li.active a {
            color: var(--sidebar-sub-link-color-active);
            font-weight: 600;
            font-size: inherit;

            &:hover {
                text-decoration-color: var(--sidebar-sub-link-color-active);
            }
        }
    }

    > ul ul ul.app-sub-sidebar ul {
        a {
            color: var(--sidebar-sub-sub-link-color);
            font-style: italic;
            font-size: var(--font-small);
            font-weight: 300;
        }
    }

    /* ------------------------------------------------------- */
    /* Linking Arrows */
    p:has(.lucide-arrow-down) {
        margin: 0 0 0 1.35rem;
        line-height: 0.8;
        color: var(--sidebar-group-border-color);

        .lucide.icon {
            height: 1rem;
            width: 1rem;
        }
    }


    /* ------------------------------------------------------- */
    /* Icons */
    li.group > p,
    li a:has(img, svg, i.si) {
        display: flex;
        gap: var(--gap-small);
        align-items: center;

        :is(img, svg, i.si) {
            flex-shrink: 0;
        }
    }

    :is(li a, li.group) :is(.lucide.icon, i.si) {
        color: var(--text-color);
        vertical-align: middle;
        display: inline-block;
        opacity: 0.5;
    }
}
