.language-pseudo {
    --pseudo-terminator-col: var(--code-color-red);
    --pseudo-function-col:   var(--code-color-orange);
    --pseudo-loop-col:       var(--code-color-yellow);
    --pseudo-decision-col:   var(--code-color-green);
    --pseudo-action-col:     var(--code-color-blue);
    --pseudo-in-out-col:     var(--code-color-purple);
    --pseudo-comment-col:    var(--code-color-muted);
}

.language-pseudo .comment  { color: var(--pseudo-comment-col); }
.language-pseudo .block    { color: var(--pseudo-terminator-col); }
.language-pseudo .function { color: var(--pseudo-function-col); }
.language-pseudo .action   { color: var(--pseudo-action-col); }
.language-pseudo .decision { color: var(--pseudo-decision-col); }
.language-pseudo .loop     { color: var(--pseudo-loop-col); }
.language-pseudo .input    { color: var(--pseudo-in-out-col); }
.language-pseudo .output   { color: var(--pseudo-in-out-col); }

