/** Scratch Blocks
 * Visual styling for scratchblocks library output
 */
.markdown-section {
    /* Inline blocks */
    code.language-scratch,
    code.language-scratch-inline,
    pre[data-lang="scratch-inline"] {
        display: inline-block;
        margin-inline: 0.5em;
        line-height: 1.1;
        vertical-align: middle;
        padding: unset !important;
        background-color: transparent !important;
        border: none !important;

        .scratchblocks {
            > svg {
                filter: drop-shadow(var(--box-shadow-small));
            }
        }
    }

    /* Block code */
    pre[data-lang="scratch"]:not([data-lang="scratch-inline"]) {
        margin: var(--margin-block) 0;
        padding: unset !important;
        background-color: transparent !important;
        border: none !important;

        &::after {
            display: none;
        }

        .scratchblocks {
            width: fit-content;
            margin-inline: auto;

            > svg {
                filter: drop-shadow(var(--box-shadow));
            }
        }
    }

    /* Comment text color override for scratchblocks */
    .sb3-comment-label {
        fill: #333;
    }
}
